
.title{
        text-align: right;
        color: ivory;
        text-align: right;
        padding-right: 30px;
        font-size: large;
        font-family: cursive;
        margin-top: 100px;
}
figcaption{
    text-align: right;
    color: ivory;
    font-size: smaller;
    font-family: cursive;
}
.image{
    margin-top: 10px;
    background-color: gray;
}
.visible{
    display: inline;
}
.unvisible{
    display: none;
}
#images{
    width:200px;
    height:250px;
    border-radius: 2%;
}
.clicked{
    width:200px;
    height:250px;
    border-radius: 5%;
   
}
#images:active{
    margin-top: 10px;
    background-color: black;

    }
.each-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        width:100%;
        height: 700px;
      }
span{
    margin-right: 1300px;
}            
#forward:hover{
    color: honeydew;
}
#back:hover{
    color: honeydew;
}
#div{
    width: 100%;
    height: 700px;
}
