.btn:hover{
  background-color: blue;
  color: aliceblue;
}
.disabledbtn:hover{
  background-color: rgb(255, 183, 0);
  color: black;
 
}
.disabledbtn{
   margin-right: 10px;
   padding: -15px;
}
.image-head {
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
  }
  .slide-container {
    width: 70%;
    margin: auto; }
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width:100%;
    height: 700px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }