.telegram:hover{
color: white;
background-color:rgb(23, 62, 233) ;
}
.telegram{
   
    border-radius: 50%;
    background-color:gray ;
    }
.twitter:hover{
        color: white;
        background-color:rgb(23, 62, 233) ;
        }
.twitter{
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 50%;
        background-color:gray ;
            }
.instagram{
      
       border-radius: 50%;
       background-color: gray;
    
}            
.instagram:hover{
    color: white;
    background-color: rgb(252, 52, 202);
}    
p{
    color: rgb(172, 172, 172);
    margin-top: 20px;
    font-size: 12px;
 
}
